  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/admin">公告管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/users">會員管理</a>
    </li>
  </ul>