    <div class="field">
        <strong>上傳圖片</strong>
        <%= f.file_field :images, multiple: true %>
    </div>
    <br>
    <div class="field">
        <strong>上傳檔案</strong>
        <%= f.file_field :documents, multiple: true %>
    </div>