     <table> 
      <% @posts.each do |post| %>        
            <tr>
              <td><%= link_to post.title.truncate(20), admin_post_path(post) %>
              <td><%= post.description.truncate(100) %>
                  <%= link_to "Delete", admin_post_path(post), method: :delete, class: "btn btn-info pull-right" %>
              </td>
              </td>
            </tr>
      <% end %>
    </table>
    <%= paginate @posts %>