<div class="container"> 
  <br>
  <%= render partial: "shared/post_ctl_tag" %>
  <br>  
    <div class="col-12">  
      <%= form_for @post, url: admin_post_path do |f| %>
        <%= render partial: "shared/post_form", locals: {f: f}%>
      <% end %>
    </div>
  <%= render partial: "shared/posts_table" %>
</div>