<div class="container-fluid"> 
  <br>  
  <% @posts.each do |post| %>   
    <div class="col-md-6 col-lg-4">
        <div class="card board-card">
          <div class="card-body">   
            <div class="content">           
              <strong><%= post.created_at.strftime("%d %b. %Y %H:%M") %></strong>
              <h3 class="text-primary"><%= link_to post.title, post_path(post) %></h3>              
              <p class="card-text"><%= post.description.truncate(150) %></p>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  <div class="col-sm-12 col-md-12 col-lg-12 text-center"><%= paginate @posts %></div>
</div>