// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button-group *
{   
    margin: 2px;
}

.board {   
  width: 100%;
}

@media screen and (max-width: 1680px) and (min-width: 1080px){
  .board-card {
    min-height: 380px;
  }
}

@media screen and (max-width: 1080px) {
  .board-card {
    min-height: 80px;
  }
}